body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none !important;
}
.netWork{
  z-index: 999;
  margin: 2px;
  background-color: white;
 
  /* box-shadow: 5px 5px 5px #888888; */
}
.netWork .off{
  padding: 10px !important;
  position: fixed;
  background-color: white;
  bottom: 30px;
   z-index: 999;
  box-shadow: 5px 5px 5px #888888;
}
.parentdiv{
  width: 95%;
  margin: auto;
}

.shadoow{
  box-shadow: 5px 5px 5px #888888;

}
.container{
  padding-top: 6% !important;
 
}
a{
  text-decoration: none !important;
  color: black;
}